# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.venv/
venv/
ENV/

# VS Code
.vscode/
note.txt

# Jupyter Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid

# Environment
.env
.env.*

# Other
*.swp
*.swo

# Flink
flink-conf/log/

# Ignore data files
*.csv
*.parquet
*.delta
*.json
*.db
